/* .second {
    max-width: 1080px;
    margin-bottom: 50px;
} */

.second__title {
    margin-bottom: 30px;
}

.second__text {
    margin-bottom: 30px;
}

.second__img img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.block__text {
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    /* or 24px */
    
    color: #5E5E5E;
    border: 1px solid #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.second__text-p {
    margin-bottom: 0;
}